<header class="site-header" role="banner">
  <div class="header-middle">

  <nav class="navigation">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Articles</a></li>
      <li class="nav-item"><a href="#">Books</a></li>
      <li class="nav-item"><a href="#">Events</a></li>
      <li class="nav-item"><a href="#">Team</a></li>
    </ul>
  </nav>
  </div>
</header>


<div class="container">


  <main class="ftd-main-content" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}


    <h1 class="heading-front-page">The Latest and Greatest!</h1>

    <div class="featured-hero">
      {{ page.featured_articles }}

{#      <div class="featured-content-card">#}
{#      <h1 class="featured-content-card-heading">Test Content Item</h1>#}
{#      <p class="featured-content-card-author">Article | By: Dan Coughlin</p>#}
{#      <p class="featured-content-card-content"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur debitis deserunt ducimus eos eveniet fugit itaque libero minima modi neque nihil odit officia quia quod sed sunt, voluptate. Dignissimos doloremque facere magnam mollitia nesciunt pariatur temporibus veniam. Atque, blanditiis cupiditate eaque eius explicabo id ipsum iure magnam modi mollitia necessitatibus nihil numquam possimus quas quasi tenetur voluptate! Ad cumque dicta eius eligendi optio quas quis repudiandae! Assumenda dignissimos ex quidem tenetur vero. Animi, eaque magnam. Eveniet harum, iure. A asperiores cumque deserunt iure laboriosam nisi numquam optio quam quidem sapiente sequi soluta temporibus, voluptatem. Dolor ipsa molestiae nihil quo.</span></p>#}
{#    </div>#}
{#    <div class="featured-content-card">#}
{#      <h1 class="featured-content-card-heading">{{title}}</h1>#}
{#      <p class="featured-content-card-author">Article | By: Dan Coughlin</p>#}
{#      <p class="featured-content-card-content">{{ body }}</p>#}
{#    </div>#}
{#    <div class="featured-content-card">#}
{#      <h1 class="featured-content-card-heading">Test Content Item</h1>#}
{#      <p class="featured-content-card-author">Article | By: Dan Coughlin</p>#}
{#      <p class="featured-content-card-content"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur debitis deserunt ducimus eos eveniet fugit itaque libero minima modi neque nihil odit officia quia quod sed sunt, voluptate. Dignissimos doloremque facere magnam mollitia nesciunt pariatur temporibus veniam. Atque, blanditiis cupiditate eaque eius explicabo id ipsum iure magnam modi mollitia necessitatibus nihil numquam possimus quas quasi tenetur voluptate! Ad cumque dicta eius eligendi optio quas quis repudiandae! Assumenda dignissimos ex quidem tenetur vero. Animi, eaque magnam. Eveniet harum, iure. A asperiores cumque deserunt iure laboriosam nisi numquam optio quam quidem sapiente sequi soluta temporibus, voluptatem. Dolor ipsa molestiae nihil quo.</span></p>#}
{#    </div>#}

    </div>

    <div class="secondary-content-list">
      <h1>Check out our other content</h1>
      <ul class="item-list">
        <li class="item">
          <div class="item-image"><img src="https://res.cloudinary.com/dzkpmco76/image/upload/v1565050188/DrupalDemo/content-Item.png" alt=""></div>
          <div class="item-content">
          <h3 class="item-title"><a href="#">Build a cool app with a new technology</a></h3>
          <p class="item-date">August 5, 2019</p>
          <p class="item-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa error illo nobis obcaecati perspiciatis quasi rem sapiente sit sunt. Ab assumenda consectetur debitis fugiat fugit illum labore quasi quod repellendus, suscipit. Dolores, dolorum ex fuga ipsum odio quo rem? Aliquam amet, blanditiis deleniti magnam nesciunt nulla tempore tenetur voluptatibus.</p>
          </div>
        </li>
        <li class="item">
          <div class="item-image"><img src="https://res.cloudinary.com/dzkpmco76/image/upload/v1565050188/DrupalDemo/content-Item.png" alt=""></div>
          <div class="item-content">
          <h3 class="item-title"><a href="#">Build a cool app with a new technology</a></h3>
          <p class="item-date">August 5, 2019</p>
          <p class="item-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa error illo nobis obcaecati perspiciatis quasi rem sapiente sit sunt. Ab assumenda consectetur debitis fugiat fugit illum labore quasi quod repellendus, suscipit. Dolores, dolorum ex fuga ipsum odio quo rem? Aliquam amet, blanditiis deleniti magnam nesciunt nulla tempore tenetur voluptatibus.</p>
          </div>
        </li>
        <li class="item">
          <div class="item-image"><img src="https://res.cloudinary.com/dzkpmco76/image/upload/v1565050188/DrupalDemo/content-Item.png" alt=""></div>
          <div class="item-content">
          <h3 class="item-title"><a href="#">Build a cool app with a new technology</a></h3>
          <p class="item-date">August 5, 2019</p>
          <p class="item-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa error illo nobis obcaecati perspiciatis quasi rem sapiente sit sunt. Ab assumenda consectetur debitis fugiat fugit illum labore quasi quod repellendus, suscipit. Dolores, dolorum ex fuga ipsum odio quo rem? Aliquam amet, blanditiis deleniti magnam nesciunt nulla tempore tenetur voluptatibus.</p>
          </div>
        </li>
      </ul>

    </div>


{#    <div class="layout-content">#}
{#      <h1 class="WOW"> WOWZA!!</h1>#}
{#      {{ page.content }}#}
{#    </div>#}{# /.layout-content #}

{#    {% if page.sidebar %}#}
{#      <aside class="layout-sidebar-first" role="complementary">#}
{#        {{ page.sidebar }}#}
{#      </aside>#}
{#    {% endif %}#}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
