
<div class="featured-content-card" data-link={{ url }}>
  <p>By {{ author_name }}</p>
  <h1 class="featured-content-card-heading">{{ node_title }}</h1>
  <p class="date">{{node_created_date}}</p>
  <div class="content">{{ content.body }}</div>
</div>
