<div class="article-item">
  <h3 class="heading"><a href={{ url }}>{{ node_title }}</a></h3>
  <p>By {{ author_name }}</p>
  <p class="date">{{ node_created_date }}</p>
  <div class="content">{{ content.body }}</div>
</div>

